<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WODO - Task Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body class="font-sans bg-gray-50">
    <!-- Header -->
    <header class="flex justify-between items-center p-5">
        <h1 class="text-5xl font-extrabold text-purple-800">
            <a href="/">WODO</a>
        </h1>
        <button class="bg-zinc-800 px-5 py-2 text-xl rounded-md text-white font-bold">
            <a href="/login">Login/SignUp</a>
        </button>
    </header>

    <!-- Hero Section -->
    <section class="p-20 flex items-center justify-between bg-slate-200">
        <div class="text-center text-2xl w-1/2">
            <h1 class="text-7xl font-extrabold text-purple-800">
                Make Your Tasks Done With WODO
            </h1>
            <p class="mt-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="w-1/2 flex justify-end">
            <img src="https://images.ctfassets.net/rz1oowkt5gyp/2MToLtZAVoBYDpz18IJKB8/11524ea94eb3e8ee425f39b78a7ed8af/01_Hero_2x.png?w=1140&fm=webp" 
                class="w-3/4" 
                alt="Hero showcasing task management with WODO">
        </div>
    </section>

    <!-- CTA Button -->
    <div class="text-center">
        <button class="bg-zinc-800 w-1/4 m-7 text-3xl p-6 rounded-md text-white font-bold" id="flo">
            Start Organising
        </button>
    </div>

    <!-- Features Section -->
    <section class="m-3">
        <div class="bg-purple-200 flex rounded-lg items-center p-6 mb-5 flex justify-center">
            <div class="text-center text-xl w-1/2">
                <h4 class="font-bold">
                    Manage tasks with ease
                </h4>
                <p class="w-2/3 mx-auto mt-4">
                    Keep everyone accountable and never have to ask “who's doing that” by adding members to cards for their
                    projects and tasks.
                </p>
            </div>
            <div class="w-1/3 flex justify-end">
                <img src="https://images.ctfassets.net/rz1oowkt5gyp/3nQegkolziRIjy8Nven4pK/ae8076f717ec07e70059636a42de5b1c/Features-Graphic-Cards.png?w=1140&fm=webp" 
                    alt="Task management illustration">
            </div>
        </div>

        <div class="bg-purple-200 flex rounded-lg items-center p-6 flex justify-center">
            <div class="w-1/3 ">
                <img src="https://images.ctfassets.net/rz1oowkt5gyp/3nQegkolziRIjy8Nven4pK/ae8076f717ec07e70059636a42de5b1c/Features-Graphic-Cards.png?w=1140&fm=webp" 
                    alt="Automation workflow illustration">
            </div>
            <div class="text-center text-xl w-1/2">
                <h4 class="font-bold">
                    Automate your workflow
                </h4>
                <p class="w-2/3 mx-auto mt-4">
                    Create a foolproof process for moving work forward with Trello’s built-in automation system. Run commands and set automated rules for almost any action in Trello so that your team can focus on what matters most.
                </p>
            </div>
        </div>
    </section>
    <div class="bg-zinc-800 text-white p-20 text-center">
        Copyright © 2025
        <br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque voluptates recusandae, animi, ipsa, laborum beatae sed quaerat perferendis amet id aliquam incidunt non temporibus? Fuga tempora enim error et culpa.
    </div>
</body>

</html>
