<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body >
    <header class="flex justify-between items-center p-5">
        <h1 class="text-5xl font-extrabold text-purple-800">
            <a href="/">WODO</a>
        </h1>
    </header>
    <div class=" p-6 mb-5 text-center flex justify-center">
        <div class="w-1/2 bg-purple-200 rounded-lg items-center p-28">

            <div class="m-6">
                <label class="text-lg p-2">Username</label>
                <input type="text" class="rounded">
            </div>
            <div class="m-6">
                <label class="text-lg p-2">Create Password</label>
                <input type="Password" class="rounded">
            </div>
            <div class="m-6">
                <label class="text-lg p-2">Confirm Password</label>
                <input type="Password" class="rounded">
            </div>
            
            <div class="m-4">
                <button class="transistion-all bg-zinc-800 w-1/9 m-2 text-xl p-2 px-3 rounded-md text-white font-bold hover:text-black hover:bg-white duration-200 hover:scale-105 hover:border-2 hover:border-black" id="flo">
                    <a href="/login">Sign Up</a>
                </button>
            </div>
        </div>
    </div>
    <footer class="flex justify-between">
        <img src="https://cdn.pixabay.com/photo/2023/01/26/18/12/blue-leaf-7746731_1280.png" class="w-40 float-left">
        <img src="https://cdn.pixabay.com/photo/2024/11/27/12/34/christmas-9228266_1280.png" class="w-40 m-4 h-40 rounded-lg float-right">
    </footer>
        
</body>
</html>